.product-showcase {
    .product-showcase-inner {
        padding: 10px;
        margin-top: 20px;
        max-height: 300px;
        transition: all 0.3s ease;
        background-color: white;

        h3 {
            text-transform: uppercase;
        }

        &:hover {
            box-shadow: 0 15px 15px -10px rgba(0,0,0,.15);
        }

        .product-description {
          font-family: $secondary-font;
          font-size: 18px;
        }
    }
}
